BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 0
AlignOperands: true
AlignAfterOpenBracket: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignTrailingComments: Leave
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeWhile: true
IndentPPDirectives: Leave
