!.vscode/*
.vscode/.browse.VC.db
.vscode/.browse.VC.db*
.vscode/ipch/
.vscode/.cache/
.vscode/.clangd/
.vscode/*.log
.vscode/.cortex-debug*
build
build_*/
build-*/
.cache/*
.DS_Store
__pycache__/
*.py[cod]
fpga/*.bin
fpga/*.gz
!fpga/B0C/*.gz
!fpga/B3B/*.gz
k2/*.bin
k2/*.pgz
k2/*.lst
foenixmgr.ini
*.xlsx
/*.bin
