!.vscode/*
.vscode/.browse.VC.db
.vscode/.browse.VC.db*
.vscode/ipch/
.vscode/.cache/
.vscode/.clangd/
.vscode/*.log
.vscode/.cortex-debug*
build
build_*/
.DS_Store
fpga/*.bin
fpga/*.gz
fpga/*.lz4
*.xlsx