!.vscode/*
.vscode/.browse.VC.db
.vscode/.browse.VC.db*
.vscode/ipch/
.vscode/.cache/
.vscode/.clangd/
.vscode/*.log
.vscode/.cortex-debug*
build
build_*/
.cache/*
.DS_Store
fpga/*.bin
fpga/*.gz
fpga/*.lz4
!fpga/context1.lz4
!fpga/context3.lz4
!fpga/context4.lz4
*.xlsx
